<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">
	<style>
		.custom-image {
			width: 10%;
			/* Đảm bảo hình ảnh chiếm toàn bộ chiều rộng của phần tử chứa */
			max-width: 300px;
			/* Giới hạn chiều rộng tối đa của hình ảnh */
			height: auto;
			/* Chiều cao tự động dựa trên tỷ lệ khung hình gốc */
			border: 2px solid #ccc;
			/* Đường viền xung quanh hình ảnh */
			border-radius: 5px;
			/* Bo góc viền */
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
			/* Hiệu ứng bóng đổ */
		}
	</style>
	<!-- title -->
	<title>Check Out</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="assets/css/responsive.css">
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js}"></script>

	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>

<body ng-app="check-out-app" ng-controller="check-out-ctrl">

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->

	<!-- header -->
	<div th:include="/layout/nav.html"></div>
	<!-- end header -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fast Foods</p>
						<h1>Thanh toán đơn hàng</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- check out section -->
	<div class="checkout-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
							<div class="card single-accordion">
								<div class="card-header" id="headingOne">
									<h5 class="mb-0">
										<button class="btn btn-link" type="button" data-toggle="collapse"
											data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											Thông tin giao hàng
										</button>
									</h5>
								</div>

								<div class="card-body">
									<div class="billing-address-form">
										<p>Họ và tên:</p>
										<p><input class="form-select" type="text" placeholder="Tên khác hàng"
												ng-model="user.fullName"></p>
										<p>Số điện thoại</p>
										<p><input class="form-select" type="text" placeholder="Số điện thoại"
												ng-model="user.phoneNumber"></p>
										<div>
											<p>Địa chỉ:</p>
											<div ng-show="showSelects">
												<p>
													<select ng-model="selectedCity" class="form-select"
														aria-label="Select a city">
														<option class="form-select" ng-repeat="c in citys" ng-value="c">
															{{ c.name }}</option>
													</select>
												</p>
												<p>
													<select ng-model="selectedDistrict" class="form-select"
														aria-label="Select a district">
														<option class="form-select" ng-repeat="d in districts"
															ng-value="d">{{ d.name }} </option>
													</select>
												</p>
												<button class="btn-select" ng-click="updateCityAndDistrict()"
													style="font-family: 'Poppins', sans-serif; background-color: #28a745; color: #fff;">
													Lưu
												</button>
												<button class="btn-select" ng-click="toggleSelects()"
													style="font-family: 'Poppins', sans-serif; background-color: #dc3545; color: #fff;">
													Hủy
												</button>
											</div>
											<div ng-hide="showSelects">
												<p
													style="width: 100%; border: 1px solid #ddd; padding: 15px; margin: 0; border-radius: 3px;">
													{{user.addressCity.name}} - {{user.addressDistrict.name}}
												</p>
												<button class="btn-select" ng-click="toggleSelects()"
													style="font-family: 'Poppins', sans-serif; background-color: #F28123; color: #fff; margin-top: 10px;">
													Chỉnh sửa
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>


						</div>

					</div>
				</div>

				<div class="col-lg-5">
					<div class="order-details-wrap">
						<table class="order-details">
							<thead>
								<tr>
									<th>Sản phẩm</th>
									<th>Số lượng</th>
									<th>Price(VND)</th>
								</tr>
							</thead>
							<tbody class="order-details-body">
								<tr ng-repeat="item in cart.items">
									<td>{{item.item.name}}</td>
									<td>{{item.quantity}}</td>
									<td>{{item.quantity*item.item.price | number: 0}}</td>
								</tr>
								<tr ng-if="cart.items.length === 0">
									<td colspan="3">Không có sản phẩm</td>
								</tr>
								<tr style="background-color: #efefef;padding: 18px; font-size: 15px; font-weight: 500;">
									<td>Tổng hóa đơn</td>
									<td></td>
									<td>VNĐ</td>
								</tr>
								<tr>
									<td><strong>Tạm tính</strong></td>
									<td></td>
									<td ng-bind="cart.totalAmount | number:0"></td>
								</tr>
								<tr>
									<td><strong>Phí vận chuyển</strong></td>
									<td></td>
									<td ng-bind="ship.data.total| number:0 "></td>
								</tr>
								<tr>
									<td><strong>Total</strong></td>
									<td></td>
									<td>{{ cart.totalAmount | number:0 }}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="card single-accordion" style="padding-top: 15px;">
						<div class="card-header" id="headingTwo">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
									data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Phương thức thanh toán
								</button>
							</h5>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
							data-parent="#accordionExample">
							<div class="card-body">
								<div class="shipping-address-form">
									<form action="" name="form">
										<div style="padding-bottom: 15px;">
											<img class="img-fluid custom-image" src="assets/images/COD.jpg" alt="">
											<input type="radio" name="paymentMethod" value="method1" required> Thanh toán COD

											<img class="img-fluid custom-image" src="assets/images/OIP.jpg" alt="">
											<input type="radio" name="paymentMethod" value="method2" required> Thanh toán VNPAY
										</div>
										<div>
											<a type="button" class="boxed-btn" ng-click="invoices()">Thanh toán</a>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end check out section -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<div th:include="/layout/footer.html"></div>

	<!-- jquery -->
	<script src="assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="assets/js/main.js"></script>
	<script src="assets/js/check-out-app.js"></script>
</body>

</html>