<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js}"></script>
<script
	th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js}"></script>
</head>
<body ng-app="admin-app">
	<div class="row">
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
			<a class="navbar-brand" href="#">Brand</a>
			<button class="navbar-toggler" data-target="#my-nav"
				data-toggle="collapse" aria-controls="my-nav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div id="my-nav" class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="/">Item
							1 <span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="#!product">Item
							2</a></li>
					<li class="nav-item"><a class="nav-link disabled"
						href="#!authorize" tabindex="-1" aria-disabled="true">Disabled
							item</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<main>
	<p class="ng-view"></p>
	</main>
	<script src="/assets/admin/admin-app.js"></script>
	<script src="/assets/admin/product/product-ctrl.js"></script>
	<script src="/assets/admin/authority/authority-ctrl.js"></script>
</body>
</html>